.main-header .logo
{
  font-family: "Georgia",Times,"Times New Roman",serif;
  font-weight: bold;
  font-size: 20px;
}

.content-wapper{
  background-color:"black";
}

h1{
  font-family: "Georgia",Times,"Times New Roman",serif;
  font-size:  50px;
  font-weight: bold;
}

.main-sidebar{
  font-size: 20px;
  background-color:#000000 !important;
}

.medals-and-countries-left {
 column-gap: 2px;
 column-count: 2;
 width: 40%;
 float: left;
}

.medals-and-countries-right{
  width: 60%;
  float:right;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  column-count:3;
}

.my_link{
  font-family: "Georgia", Times, "Times New Roman",serif;
  font-size:30px;
  text-align:justify;
  margin-top:10%;
  margin-left:5%;
}

.set-interligne{
  margin:0.5em 0;
}

.intro-style{
  font-size: 18px;
  font-family:Helvetica, sans-serif;
  margin-left:-5%;
  outline-style:outset;
  outline-width:medium;
  outline-color:rgba(85,107,47,0.7);
  background-color:rgba(128,128,128,0.2);
}

.logo-style{
  margin-bottom:-10%;
  margin-top:10%;
}

.conclusion-style{
  font-size:30px;
  font-family: Helvetica,sans-serif;
  outline-style:double;
  outline-width:thick;
  outline-color:#405d27;
  margin-top:10%;
  box-shadow:20px 20px 20px #36486b;
}

.navbar .navbar-header{
  position:left;
}

.Sports-and-Countries-navbar-style{
  width:40%;
  float:left;
  column-gap:2px;
  column-count:2;
}

.Sports-and-Countries-graph{
  width:60%;
  float:right;
}
